(
    texture_path: "tp-export.png",
    texture_width: 102,
    texture_height: 238,
    sprites: [
        
        (
            name: "healer_walk_down_001",
            x: 1,
            y: 1,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_down_002",
            x: 1,
            y: 39,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_down_003",
            x: 1,
            y: 77,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_left_001",
            x: 1,
            y: 115,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_left_002",
            x: 1,
            y: 153,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_left_003",
            x: 1,
            y: 191,
            width: 32,
            height: 36,
        ),
        
        (
            name: "particle",
            x: 1,
            y: 229,
            width: 4,
            height: 4,
        ),
        
        (
            name: "healer_walk_right_001",
            x: 35,
            y: 1,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_right_002",
            x: 35,
            y: 39,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_right_003",
            x: 35,
            y: 77,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_up_001",
            x: 35,
            y: 115,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_up_002",
            x: 35,
            y: 153,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_up_003",
            x: 35,
            y: 191,
            width: 32,
            height: 36,
        ),
        
        (
            name: "brick",
            x: 69,
            y: 1,
            width: 32,
            height: 32,
        ),
        
        (
            name: "bush",
            x: 69,
            y: 35,
            width: 32,
            height: 32,
        ),
        
        (
            name: "stones",
            x: 69,
            y: 69,
            width: 32,
            height: 32,
        ),
        
        (
            name: "sword-attack-down",
            x: 69,
            y: 103,
            width: 32,
            height: 32,
        ),
        
        (
            name: "sword-attack-left",
            x: 69,
            y: 137,
            width: 32,
            height: 32,
        ),
        
        (
            name: "sword-attack-right",
            x: 69,
            y: 171,
            width: 32,
            height: 32,
        ),
        
        (
            name: "sword-attack-up",
            x: 69,
            y: 205,
            width: 32,
            height: 32,
        ),
        
    ],
    animations: {},
    images: {},
)
