(
    texture_path: "tp-export.png",
    texture_width: 102,
    texture_height: 186,
    sprites: [
        
        (
            name: "brick",
            x: 1,
            y: 1,
            width: 32,
            height: 32,
        ),
        
        (
            name: "bush",
            x: 35,
            y: 1,
            width: 32,
            height: 32,
        ),
        
        (
            name: "stones",
            x: 69,
            y: 1,
            width: 32,
            height: 32,
        ),
        
        (
            name: "healer_walk_down_001",
            x: 1,
            y: 35,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_down_002",
            x: 35,
            y: 35,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_down_003",
            x: 69,
            y: 35,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_left_001",
            x: 1,
            y: 73,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_left_002",
            x: 35,
            y: 73,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_left_003",
            x: 69,
            y: 73,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_right_001",
            x: 1,
            y: 111,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_right_002",
            x: 35,
            y: 111,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_right_003",
            x: 69,
            y: 111,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_up_001",
            x: 1,
            y: 149,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_up_002",
            x: 35,
            y: 149,
            width: 32,
            height: 36,
        ),
        
        (
            name: "healer_walk_up_003",
            x: 69,
            y: 149,
            width: 32,
            height: 36,
        ),
        
    ],
    animations: {},
    images: {},
)
